<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Tests results</title>
    <link rel="stylesheet" href="/style/styles.css">
</head>
<body>
    <h1>Tests table</h1>
    <form action="/" method="post">
        <button class="return" type="button" onclick="window.location.href='/'">Return</button>
    </form>
     <!-- проверяем есть ли данные -->
     {{if .}}
     <table >
        <tr>
            <th>Name</th>
            <th>Soundex</th>
            <th>Expected</th>
            <th>Test</th>
        </tr>
        {{range .}}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.Soundex}}</td>
            <td>{{.Expected}}</td>
            <td>{{.Test}}</td>
        </tr>
        {{end}}
     </table>
    {{end}}
    
</body>
</html>